<h1>Snowman Labs test</h1>
<h3>André Silva Alves <a href="https://gitlab.com/andresilvaalves/" target="_blank">@andresilvaalves</a></h3>

<br>
<h4>Link codigo <a href="https://gitlab.com/andresilvaalves/snowman" target="_blank">Test</a></h4>
<br>
<h4>Link Swagger <a href="http://168.138.143.32:8080/swagger-ui.html" target="_blank">Swagger</a></h4>

